@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

h1 {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-size: 40px;
  font-style: normal;
  color: white;
}

@import url("https://use.typekit.net/vjo2mmp.css");
p {
  font-family: "bahnschrift-semicondensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(64,64,64);
  line-height: 22px;
  margin-bottom: 26px;
  margin-left: 15px;
}

h2{
  font-family: "bahnschrift-semicondensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: rgb(64,64,64);
  font-size: 28px;
  margin-top: 25px;
}

h3{
  font-family: "bahnschrift-semicondensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: rgb(64,64,64);
  line-height: 24px;
  margin-bottom: 18px;
}

body {
  background-color: rgb(133, 202, 227);
  margin: 40px;
}